@font-face {
    font-family: 'Rock Salt', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Montserrat+Alternates:wght@100&family=Permanent+Marker&family=Rock+3D&family=Rock+Salt&family=Warnes&display=swap');
}
.header{
    width: 100%;
    height: 20em;
    background-color: black;
    /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fskoda-welovecycling.s3.amazonaws.com%2F2%2F2016%2F02%2F6dAwGjh.gif&f=1&nofb=1&ipt=0619458d6500dadcef3007fa5c302e9eed431d63c3655b4f3db3500bc3115651&ipo=images'); */
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-start;
}
.title{
    color: azure;
    font-size: 6em;
    font-family: 'Rock Salt', cursive;
}