@font-face {
    font-family: 'Rock Salt', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Montserrat+Alternates:wght@100&family=Permanent+Marker&family=Rock+3D&family=Rock+Salt&family=Warnes&display=swap');
}
.header{
    width: 100%;
    height: 20em;
    background-color: black;
    justify-content: flex-start;
}
.title{
    color: azure;
    font-size: 10em;
    font-family: 'Rock Salt', cursive;
}