.navigation-bar{
    width: 100%;
    background-color: black;
}
.home,.about,.collections{
    text-decoration: none;
    color: aliceblue;
}
.links{
    display: flex;
    justify-content: space-around;
}
.home:hover, .about:hover, .collections:hover{
    transform: scale(1.3);
}
.banner{
    height: 50px;
    background-color: blue;
}

