.navigation-bar{
    width: 100%;
    background-color: black;
}
.home,.about,.collections{
    text-decoration: none;
    color: aliceblue;
    margin: .2em;
}
.links{
    display: flex;
    justify-content: space-around;
    margin: .2em;
}
.home:hover, .about:hover, .collections:hover{
    transform: scale(1.3);
}

